#!/bin/bash

alias ls="ls --color=auto -F"
alias grep="grep --color=auto"
alias fgrep="fgrep --color-auto"
alias egrep="fgrep --color-auto"
alias mkdir="mkdir -p"
alias rm="rm -i"

alias l="ls"
alias c="clear"
alias v="vim"
alias ..="cd .."

alias ll="ls -l"
alias lx="ls -lXB"
alias lsl="ls -hoga"

alias fortune="fortune -a"
alias kb="keybase"

# git specific aliases
alias g="git"
alias ga="g add"
alias gb="g branch"
alias gc="g commit -S"
alias gp="g pull"
alias gs="g status"
alias gch="g checkout"
alias gcl="g clone"
alias gdf="g diff --color --color-words --abbrev"
alias glg="g log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
alias gpu="g push"
alias gst="g stash"

alias upgrade="sudo dnf update -y && sudo dnf upgrade -y && sudo dnf distro-sync"
