#!/bin/bash

alias ls="ls --color=auto -F"
alias grep="grep --color=auto"
alias fgrep="fgrep --color-auto"
alias egrep="fgrep --color-auto"
alias mkdir="mkdir -p"
alias rm="rm -i"

alias l="ls"
alias c="clear"
alias v="vim"
alias ..="cd .."

alias ll="ls -l"
alias lx="ls -lXB"
alias lsl="ls -hoga"

alias fortune="fortune -a"
alias kb="keybase"

# git specific aliases
alias g="git"
alias ga="g add"
alias gb="g branch"
alias gc="g commit -s"
alias gp="g pull"
alias gs="g status"
alias gch="g checkout"
alias gcl="g clone"
alias gdf="g diff --color --color-words --abbrev"
alias glg="g log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
alias gpu="g push"
alias gst="g stash"

alias upgrade="sudo dnf update -y && sudo dnf upgrade -y && sudo dnf distro-sync"

## Colours
export PS1='\[\e[1;36m\]\u\[\e[1;37m\]@\[\e[1;36m\]\h\[\e[00m\]$: '
#Colours for less
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'
#Colours for ls
export LS_COLORS=$LS_COLORS:'di=0;35:'
