#!/bin/bash

function mc(){ mkdir "$@" && cd "$@"; }

function print(){
  for var in "$@"
  do
    if [ -f "$var" ];then
      lp "$var"
    else
      echo "$var is an invalid file. Not Printing."
    fi
  done
}

function swiper(){
  echo `find . -type f -regex '.*.swp$'`                                                                                                                       
  find . -type f -regex '.*.swp$' -delete
  echo deleted
}

function vj(){
  for var in "$@"
  do
    if [ -f "$var" ];then
      vim "$var"; astyle *.java; javac *.java
    else
      echo "$var doesn't exist."
    fi
  done
}

function vc(){
  for var in "$@"
  do
    if [ -f "$var" ];then
      vim "$var"; astyle *.c; gcc "$var" 
    else
      echo "$var doesn't exist."
    fi
  done
}

# alias volume="pactl set-sink-volume @DEFAULT_SINK@"
function volume(){
  if [ $# -ne 1  ]
  then
    echo "Usage : volume <0-15>"
    return
  fi
  
  if (( $1 <= 0 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 0%
  elif (( $1 <= 1 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 10%
  elif (( $1 <= 10 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 100%
  elif (( $1 <= 11 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 110%
  elif (( $1 <= 12 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 120%
  elif (( $1 <= 13 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 130%
  elif (( $1 <= 14 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 140%
  elif (( $1 <= 15 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 150%
  elif (( $1 <= 16 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 160%
  elif (( $1 <= 17 ))
  then 
    command pactl set-sink-volume @DEFAULT_SINK@ 170%
  fi
}

